
<div layout="row" ng-repeat="item in convo track by $index">

    <md-button flex="10" md-no-ink class="md-fab md-accent whiteText">{{item.name}}</md-button>

    <md-card flex>
        <md-card-content>
            <div layout="row">
                <div flex>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text">
                            <h3 ng-if="!item.$edit"> {{item.comment}} </h3>
                            <span ng-if="item.$edit"><textarea rows="4" cols="50"  ng-model="item.comment" ></textarea> </span>

                        </div>
                    </md-list-item>
                </div>

                <div ng-if="item.name == name" class="lock-size" layout="row" layout-align="end end">
                    <md-button ng-if="item.$edit" ng-click="editComment($index, item.comment); item.$edit=false" aria-label="save" class="md-fab md-accent">
                        Save
                    </md-button>


                    <md-fab-speed-dial ng-if="!item.$edit" md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
                                       ng-class="demo.selectedMode">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab  md-raised">
                                <ng-md-icon icon="more_vert"></ng-md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button ng-click="item.$edit = true" aria-label="Edit" class="md-fab md-raised md-mini">
                                <ng-md-icon icon="edit"></ng-md-icon>
                            </md-button>
                            <md-button aria-label="Delete" ng-click="deleteComment($index)" class="md-fab md-raised md-mini">
                                <ng-md-icon icon="delete"></ng-md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>
