

<div layout="row" layout-align="center center">
    <div  flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="33">

        <md-card>
            <md-card-content>
                <div layout-align="center center">
                   <h2>Registration</h2>
                </div>

                <form ng-submit="createAccount(name, username, email, password)">
                    <md-input-container>
                        <label>Name</label>
                        <input type="text" required ng-model="name" autofocus>
                        <div ng-messages="projectForm.name.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Username</label>
                        <input type="text" required ng-model="username">
                        <div ng-messages="projectForm.username.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Email</label>
                        <input type="email" required ng-model="email">
                        <div ng-messages="projectForm.email.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Password</label>
                        <input required type="password" ng-model="password">
                        <div ng-messages="projectForm.password.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Confirm Password</label>
                        <input required type="password" ng-model="password1">
                         <span ng-if="password != password1" ng-messages="projectForm.password1.$error">
                            <div ng-message="required">Password didn't match</div>
                        </span>
                        <div  ng-messages="projectForm.password.$error">
                            <div ng-message="required">This is required.</div>
                        </div>

                    </md-input-container>
                    <div ng-if="password != password1" class="md-actions" layout="row" layout-align="end center">
                        <md-button ng-disabled="true"  type="submit" flex-sm="100" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="33">Create Account</md-button>
                    </div>

                    <div ng-if="password == password1" class="md-actions" layout="row" layout-align="end center">
                        <md-button class="md-primary md-raised" ng-disabled="false"  type="submit" flex-sm="100" flex-gt-sm="50" flex-gt-md="40" flex-gt-lg="33">Create Account</md-button>
                    </div>


                </form>
            </md-card-content>

        </md-card>

    </div>
</div>
