
.silverColor{
    background: #F0F0F0;
}

body{
    height:100%;
}

.whiteColor{
    background:white !important;
    color:black !important;
}

.whiteText{
    color:white !important;
}

/* ------------------------------------------ Side Menu Bar  ------------------------------------------------- */
md-list md-list-item button.md-button:not([disabled]):hover {
    background: #6A1B9A;
}

.sideList{

    background: #6A1B9A;
}

/* -----------------------------------------Top Toolbar ---------------------------------------------*/
.hamburger-toggle .material-design-hamburger__layer {
    background: white;
}


/*--------------------------------------------CONTENT PAGE ------------------------------------------------------------*/


/*  SIZE CONFIG of SideNav
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 190px !important;
    width: 85vw !important;
    max-width: 250px !important;
}
*/

.content {
    padding-left:0px;
    transition: all 0.5s ease-in-out;
}
.content.sidenav-open {
    padding-left: 250px;
}
.sidenav {
    width: 0;
    overflow: hidden;
    position: fixed;
    overflow-y: auto;
    left: 0;
    top: 0;
    bottom: 0;
    height:100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 8px 17px rgba(0,0,0,.2);
    background: #fff;
    z-index: 10;
}
.sidenav.open {
    width: 250px;
}

@media(max-width:947px) {

    .content {
        padding-left: 250px;
    }

    .content.sidenav-open {
        padding-left: 0px;
    }

    .sidenav {
        width:250px;
    }
    .sidenav.open {
        width: 0px;
    }

}


